[DEFAULT]
debug = {{ debug | bool }}
use_journal = true
rpc_conn_pool_size = {{ zun_rpc_conn_pool_size }}
transport_url = {{ zun_oslomsg_rpc_transport }}://{% for host in zun_oslomsg_rpc_servers.split(',') %}{{ zun_oslomsg_rpc_userid }}:{{ zun_oslomsg_rpc_password }}@{{ host }}:{{ zun_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ zun_oslomsg_rpc_vhost }}{% if (zun_oslomsg_rpc_use_ssl | lower) | bool %}?ssl=1{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

use_sandbox = true
image_driver_list = glance,docker
default_image_driver = docker

capsule_driver = docker


[api]
port = {{ zun_service_port }}
host_ip = {{ ansible_host }}
workers = {{ zun_api_threads }}


[cinder_client]
endpoint_type = {{ zun_service_endpoint_type }}

{% if group_names | intersect(zun_services.keys() | difference('zun-compute') | map('extract', zun_services, 'group') | list) | count > 0 %}
[database]
connection = mysql+pymysql://{{ zun_galera_user }}:{{ zun_galera_password }}@{{ zun_galera_address }}/{{ zun_galera_database }}?charset=utf8{% if zun_galera_use_ssl | bool %}&ssl_ca={{ zun_galera_ssl_ca_cert }}{% endif %}

max_pool_size = {{ zun_db_max_pool_size }}
max_overflow = {{ zun_db_max_overflow }}
pool_timeout = {{ zun_db_pool_timeout }}
{% endif %}


{% if zun_docker_api_version != false %}
[docker]
docker_remote_api_version = {{ zun_docker_api_version }}
{% endif %}

[glance]
images_directory = /var/cache/zun/images


[glance_client]
endpoint_type = {{ zun_service_endpoint_type }}
insecure = {{ keystone_service_internaluri_insecure | bool }}


[keystone_auth]
auth_type = {{ zun_keystone_auth_plugin }}
auth_url = {{ keystone_service_adminurl }}
project_name = {{ zun_service_project_name }}
project_domain_id = {{ zun_service_project_domain_id }}
username = {{ zun_service_user_name }}
user_domain_id = {{ zun_service_user_domain_id }}
password = {{ zun_service_password }}


[keystone_authtoken]
auth_url = {{ keystone_service_adminurl }}
www_authenticate_uri = {{ keystone_service_internaluri }}
auth_version = v3
insecure = {{ keystone_service_internaluri_insecure | bool }}
region_name = {{ keystone_service_region }}
memcached_servers = {{ zun_memcached_servers }}
token_cache_time = 300
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}
service_token_roles_required = true
auth_type = {{ zun_keystone_auth_plugin }}
username = {{ zun_service_user_name }}
user_domain_id = {{ zun_service_user_domain_id }}
password = {{ zun_service_password }}

[network]
driver = kuryr
driver_name = kuryr

[neutron_client]
endpoint_type = {{ zun_service_endpoint_type }}
insecure = {{ keystone_service_adminuri_insecure | bool }}


[oslo_concurrency]
lock_path = /var/lib/zun/tmp


[oslo_messaging_notifications]
driver = {{ (zun_ceilometer_enabled | bool) | ternary('messagingv2', 'noop') }}
transport_url = {{ zun_oslomsg_notify_transport }}://{% for host in zun_oslomsg_notify_servers.split(',') %}{{ zun_oslomsg_notify_userid }}:{{ zun_oslomsg_notify_password }}@{{ host }}:{{ zun_oslomsg_notify_port }}{% if not loop.last %},{% else %}/{{ zun_oslomsg_notify_vhost }}{% if (zun_oslomsg_notify_use_ssl | lower) | bool %}?ssl=1{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}
{% if zun_ceilometer_enabled or zun_designate_enabled %}
{% set notification_topics = [] %}
{% if neutron_ceilometer_enabled %}
{%   set _ = notification_topics.append('notifications') %}
{% endif %}
{% if neutron_designate_enabled %}
{%   set _ = notification_topics.append(zun_notifications_designate) %}
{% endif %}
topics = {{ notification_topics | join(',') }}
{% endif %}


[oslo_messaging_rabbit]
ssl = {{ zun_oslomsg_notify_use_ssl | bool }}


[placement_client]
endpoint_type = {{ zun_service_endpoint_type }}
insecure = {{ keystone_service_adminuri_insecure | bool }}


[scheduler]
driver = {{ zun_scheduler_driver }}
available_filters = {{ zun_scheduler_available_filters }}
enabled_filters = {{ zun_scheduler_default_filters }}


[volume]
use_multipath = true
driver_list = cinder,local
volume_dir = /var/lib/{{ zun_system_user_name }}/volumes


[websocket_proxy]
wsproxy_host = 0.0.0.0
wsproxy_port = 6784

[zun_client]
endpoint_type = {{ zun_service_endpoint_type }}
insecure = {{ keystone_service_internaluri_insecure | bool }}
